
<style type="text/css">
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  @media (max-width: 640px) {
    .dropdown-submenu .dropdown-menu {
      display: block;
    }

    .dropdown-submenu > a:after {
      margin-right: 30px !important;
    }
  }

  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
</style>

<!--<script>
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
  });
</script>-->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHGD8BP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="header-container">
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="header__nav col-md-24">
          <nav class="navbar">
            <button
              class="navbar-toggle collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#mainNav"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span
              ><span class="icon-bar"></span><span class="icon-bar"></span
              ><span class="icon-bar"></span></button
            ><a
              class="navbar-brand navbar__logo"
              href="./homepage.html"
              title="Nakheel"
            >
              <svg class="l-icon" width="16" height="16">
                <use xlink:href="images/icons-svg.svg#nakheel-logo"></use></svg></a>
            <div class="collapse navbar-collapse" id="mainNav">
              <div class="navbar-close close_menu">
                <svg class="l-icon" width="16" height="16">
                  <use xlink:href="images/icons-svg.svg#icon-close"></use>
                </svg>
              </div>
              <div class="navbar-collapse__scroll_wrap">
                <div class="navbar-collapse__scroll">
                  <ul class="nav navbar-nav header__main-nav">
                    <li>
                      <a href="./our-communities.html" title="مجتمعاتنا السكنية">مجتمعاتنا السكنية </a>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" href="#" title="مبيعات العقارات السكنية">مبيعات العقارات السكنية</a>
                      <ul class="dropdown-menu">
                        <li><a href="./nakheel-residential-sales-the-palm-tower.html">ذا بالم تاور</a></li>
                        <li><a href="./nakheel-residential-sales-nad-al-sheba-villas.html">فلل ند الشبا</a></li>
                        <li><a href="./nakheel-residential-sales.html">عرض جميع العقارات</a></li>
                        <li><a href="./360-Tour.html">جولات افتراضية بزاوية 360 درجة</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" href="#" title="إيجار العقارات السكنية">إيجار العقارات السكنية</a>
                      <ul class="dropdown-menu">
                        <li><a href="./nakheel-residential-leasing-al-furjan.html">لفرجان </a></li>
                        <li><a href="./nakheel-residential-leasing-badrah.html">بدره</a></li>
                        <li><a href="./nakheel-residential-leasing-golden-mile-3.html">جولدن مايل 3</a></li>
                        <li><a href="./nakheel-residential-leasing-international-city.html">المدينة العالمية (انترناشيونال سيتي)</a></li>
                        <li><a href="./nakheel-residential-leasing-the-gardens.html">ذا جاردنز (الحدائق)</a></li>
                        <li><a href="./nakheel-residential-leasing-discovery-gardens.html">ديسكفري جاردنز</a></li>
                        <li><a href="./nakheel-residential-leasing-garden-apartments.html">شقق الحدائق</a></li>
                        <li><a href="./nakheel-residential-leasing-garden-view-villas.html">فلل جاردن فيو</a></li>
                        <li><a href="./nakheel-residential-leasing-veneto.html">فينيتو</a></li>
                        <li><a href="./nakheel-residential-leasing-nad-al-sheba-villas.html">فلل ند الشبا</a></li>
                        <li class="dropdown-submenu"> <a href="./nakheel-residential-leasing.html" id="navbarDropdown" role="button">عرض الكل</a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" href="./nakheel-malls.html" title="نخيل مولز">نخيل مولز</a>
                      <ul class="dropdown-menu">
                        <li><a href="./nakheel-malls-nakheel-mall.html">نخيل مول</a></li>
                        <li><a href="./nakheel-malls-club-vista-mare.html">كلوب فيستا ماري</a></li>
                        <li><a href="./nakheel-malls-dragon-mart1.html">دراغون مارت (سوق التنين)</a></li>
                        <li><a href="./nakheel-malls-dragon-mart2.html">دراغون مارت (سوق التنين) 2</a></li>
                        <li><a href="./nakheel-malls-golden-mile-galleria.html">جولدن مايل غاليريا</a></li>
                        <li><a href="./nakheel-malls-ibn-battuta-mall.html">ابن بطوطة مول</a></li>
                        <li><a href="./nakheel-malls-pavilions.html">مراكز بافيليون</a></li>
                        <li><a href="./nakheel-malls-the-pointe.html">ذي بوينت </a></li>
                        <li class="dropdown-submenu"> <a href="./nakheel-malls.html" id="navbarDropdown" role="button">عرض الكل</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" href="./nakheel-hospitality-leisure.html" title="الضيافة والترفيه" >الضيافة والترفيه</a>
                      <ul class="dropdown-menu">
                        <li><a href="./nakheel-hospitality-leisure-hotels.html">الفنادق والمنتجعات</a></li>
                        <li><a href="./nakheel-hospitality-leisure-restaraunts.html">المطاعم</a></li>
                        <li><a href="./nakheel-hospitality-leisure-clubs.html">النوادي</a></li>
                        <li class="dropdown-submenu"> <a href="./nakheel-hospitality-leisure.html" id="navbarDropdown" role="button">عرض الكل</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="./contact-us.html" title="اتصل بنا">اتصل بنا</a>
                    </li>
                  </ul>
                  <nav class="navbar-top" id="topNav">
                    <ul class="nav clearfix">
                      <li>
                        <a href="./nakheel-who-we-are.html" title="نبذة عنا">نبذة عنا</a>
                      </li>
                      <li>
                        <a href="./nakheel-latest-news.html" title="المركز الإعلامي">المركز الإعلامي</a>
                      </li>
                      <li>
                        <a href="./nakheel-eservices.html" title="خدمات نخيل الإلكترونية">خدمات نخيل الإلكترونية</a>
                      </li>
                      <li>
                        <a href="http://www.nakheelstrata.com/" target="_blank"  title="نخيل ستراتا">نخيل ستراتا</a>
                      </li>
                      <!--<li>

                      </li>
                      <li class="lang"><a href="../ar/homepage.html">عربي</a></li>-->
                      <!--<li class="search"><a class="search__icon" href="#" id="search-btn">
                              <svg class="l-icon" width="16" height="16">
                                <use xlink:href="images/icons-svg.svg#icon-search"></use>
                              </svg></a>
                            <form action="nakheel-search-result.html">
                              <div class="header__search_box">
                                <input class="search__input" id="search-input" type="text" placeholder="Search">
                                <input class="btn btn-white" id="search-submit" type="submit" value="Search">
                              </div>
                            </form>
                          </li>-->
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="header__search_overlay">
      <div class="header__search_close">
        <a href="#" title="Close">
          <svg class="l-icon" width="16" height="16">
            <use xlink:href="images/icons-svg.svg#icon-close"></use></svg
        ></a>
      </div>
    </div>
	  <script>
		  ;(function($) {
			  $(function(){
				  $('.header__nav .navbar .navbar-collapse .header__main-nav > li > a').click(function(){
					  location.href = this.href;
				  });
				  $(' ul.nav.navbar-nav.header__main-nav > li').hover(function() {
					  $(this).find('> .dropdown-menu').stop(true, true).delay(200).fadeIn(500);
				  }, function() {
					  $(this).find(' >.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
				  });

			  })
		  })(jQuery);
	  </script>
  </header>
</div>
