<div class="highlights-listing__listitem" data-type="2020">
	<div class="highlights-listing__listitem_inner">
		<figure>
			<picture><img src="./images/RIUN830x525.jpg"/>
			</picture>
		</figure>
		<div>
			<div>
				<div class="highlight__date">07<sup>th</sup> October 2020</div>
				<h2>افتتاح مشروع نخيل المشترك في جزر ديرة المكون من 800 غرفة في ديسمبر 2020	</h2></h2>
			</div><a class="read-more" href="./nakheel-news-nakheels-800-room-joint-venture-at-deira-islands-books-december-2020-opening-date.html">أكمل القراءة<img src="images/ico-arrow.png" alt=""/></a>
		</div>
	</div>
</div>
<div class="highlights-listing__listitem" data-type="2020">
	<div class="highlights-listing__listitem_inner">
		<figure>
			<picture><img src="./images/DME830x525.jpg"/> 
			</picture>
		</figure>
		<div>
			<div>
				<div class="highlight__date">28<sup>th</sup> September 2020</div>
				<h2>دراغون مارت (سوق التنين) يطلق منصة للتجارة الإلكترونية	</h2></h2>
			</div><a class="read-more" href="./nakheel-news-dragon-mart-launches-e-commerce-platform.html">أكمل القراءة<img src="images/ico-arrow.png" alt=""/></a>
		</div>
	</div>
</div>
<div class="highlights-listing__listitem" data-type="2020">
	<div class="highlights-listing__listitem_inner">
		<figure>
			<picture><img src="./images/NASV_830x525px.jpg"/>
			</picture>
		</figure>
		<div>
			<div>
				<div class="highlight__date">16<sup>th</sup> July 2020</div>
				<h2>نخيل تبيع عقارات بقيمة 600 مليون درهم في أربعة أشهر	</h2></h2>
			</div><a class="read-more" href="./nakheel-news-nakheel-nakheel-secures-aed600-million-worth-of-property-sales-in-four-months.html">أكمل القراءة<img src="images/ico-arrow.png" alt=""/></a>
		</div>
	</div>
</div>
