<form method="post" name="Newsletter_Subscription_NKL" action="https://s839945550.t.eloqua.com/e/f2" onsubmit="return handleFormSubmitNews(this)"
  id="form24" class="elq-form">
  <input value="Newsletter_Subscription_NKL" type="hidden" name="elqFormName" />
  <input value="839945550" type="hidden" name="elqSiteId" />
  <input name="elqCampaignId" type="hidden" />
  <div id="formElement0" class="sc-view form-design-field sc-static-layout item-padding sc-
    regular-size">
    <input class="input-email" id="field0" name="emailAddress" type="text" class="field-size-top-large" />
    <button class="btn-subscribe" type="submit" value="Submit">
      <svg class="l-icon" width="16" height="16">
        <use xlink:href="images/icons-svg.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</form>
<script src="https://img06.en25.com/i/livevalidation_standalone.compressed.js" type="text/javascript"></script>
<script type="text/javascript">
  var dom0 = document.querySelector('#form24 #field0');
  var field0 = new LiveValidation(dom0, {
    validMessage: "",
    onlyOnBlur: false,
    wait: 300
  });
  field0.add(Validate.Format, {
    pattern: /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i,
    failureMessage: "A valid email" +
      "address is required"
  });
  field0.add(Validate.Presence, {
    failureMessage: "This field is required"
  });

  function handleFormSubmitNews(ele) {
    return true;
  }

  function resetSubmitButton(e) {
    var submitButtons = e.target.form.getElementsByClassName('submit-button');
    for (var i = 0; i < submitButtons.length; i++) {
      submitButtons[i].disabled = false;
    }
  }

  function addChangeHandler(elements) {
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('change', resetSubmitButton);
    }
  }
  var form = document.getElementById('form24');
  addChangeHandler(form.getElementsByTagName('input'));
  addChangeHandler(form.getElementsByTagName('select'));
  addChangeHandler(form.getElementsByTagName('textarea'));
  var nodes = document.querySelectorAll('#form24 input[data-subscription]');
  if (nodes) {
    for (i = 0, len = nodes.length; i < len; i++) {
      var status = nodes[i].dataset ? nodes[i].dataset.subscription :
        nodes[i].getAttribute('data-subscription');
      if (status === 'true') {
        nodes[i].checked = true;
      }
    }
  };
  var nodes = document.querySelectorAll('#form24 select[data-value]');
  if (nodes) {
    for (var i = 0; i < nodes.length; i++) {
      var node = nodes[i];
      var selectedValue = node.dataset ? node.dataset.value : node.getAttribute('data-' +
        'value ');
      if (selectedValue) {
        for (var j = 0; j < node.options.length; j++) {
          if (node.options[j].value === selectedValue) {
            node.options[j].selected = 'selected';
            break;
          }
        }
      }
    }
  }
</script>
<script>
  $(document).ready(function () {
    $("#form24").on('submit', function (e) {
      e.preventDefault();
      var postEloquaFormURL = "https://s839945550.t.eloqua.com/e/f2";
      var datastring = $("#form24").serialize();
      $.post(postEloquaFormURL, datastring, function (data) {
        var found = data.search("Thank You - Nakheel Form Submission");
        if (found !== -1) {
          $("#showThankYou").attr('class', 'footer__newsletter_subs show');
        }
      });
    });
  });
</script>