<div class="highlights-listing__listitem" data-type="2020">
	<div class="highlights-listing__listitem_inner">
		<figure>
			<picture><img src="./images/RIUN830x525.jpg"/>
			</picture>
		</figure>
		<div>
			<div>
				<div class="highlight__date">07<sup>th</sup> October 2020</div>
				<h2>Nakheel’s 800-room joint venture at Deira Islands books December 2020 opening date</h2></h2>
			</div><a class="read-more" href="./nakheel-news-nakheels-800-room-joint-venture-at-deira-islands-books-december-2020-opening-date.html">Continue Reading<img src="images/ico-arrow.png" alt=""/></a>
		</div>
	</div>
</div>
<div class="highlights-listing__listitem" data-type="2020">
	<div class="highlights-listing__listitem_inner">
		<figure>
			<picture><img src="./images/DME830x525.jpg"/>
			</picture>
		</figure>
		<div>
			<div>
				<div class="highlight__date">28<sup>th</sup> September 2020</div>
				<h2>Dragon Mart Launches E-Commerce Platform</h2></h2>
			</div><a class="read-more" href="./nakheel-news-dragon-mart-launches-e-commerce-platform.html">Continue Reading<img src="images/ico-arrow.png" alt=""/></a>
		</div>
	</div>
</div>
<div class="highlights-listing__listitem" data-type="2020">
	<div class="highlights-listing__listitem_inner">
		<figure>
			<picture><img src="./images/NASV_830x525px.jpg"/>
			</picture>
		</figure>
		<div>
			<div>
				<div class="highlight__date">16<sup>th</sup> July 2020</div>
				<h2>Nakheel secures AED600 million worth of property sales in four months</h2></h2>
			</div><a class="read-more" href="./nakheel-news-nakheel-nakheel-secures-aed600-million-worth-of-property-sales-in-four-months.html">Continue Reading<img src="images/ico-arrow.png" alt=""/></a>
		</div>
	</div>
</div>
