<div class="container no_pad">
    <div class="footer__mobile">
      <div class="footer__mobile__primary"><a href="./contact-us.html" title="Contact Us">Contact Us</a></div>
      <div class="footer__mobile__newsletter">
        <p>Subscribe to our mailing list</p>
        <form method="POST">
          <input class="form-input" name="subscription-email" type="email" placeholder="Your email">
          <input class="btn-subscribe" type="submit" value="Subscribe">
        </form>
      </div>
      <div class="footer__mobile__secondary">
        <p><a href="./terms-conditions.html" title="Terms and Conditions">Terms and Conditions</a><a href="./privacy-policy.html" title="Privacy Policy">Privacy Policy</a></p>
        <p><a href="./faq.html" title="FAQs">FAQs</a><a href="./nakheel-live-chat.html" title="live chat">live chat</a><a href="./site-map.html" title="Site Map">Site Map</a></p>
      </div>
    </div>
    <div class="footer__desktop clearfix">
      <div class="col-md-5 col-sm-4"><a href="./homepage.html" title="Nakheel"><img class="logo" src="images/footer_logo.svg" alt="Nakheel"></a></div>
      <div class="col-md-4 col-sm-5">
        <ul class="footer__desktop__links">
          <li><a href="./contact-us.html" title="Contact Us">Contact Us</a></li>
          <li><a href="./nakheel-procurement.html" title="Procurement">Procurement</a></li>
          <li><a href="./whistleblowing.html" title="Whistleblowing">Whistleblowing</a></li>
          <li><a href="./nakheel-eservices.html" title="Online Services">Online Services</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-5">
        <ul class="footer__desktop__links">
          <li><a href="./faq.html" title="FAQs">FAQs</a></li>
          <li><a href="./terms-conditions.html" title="Terms and Conditions">Terms and Conditions</a></li>
          <li><a href="./privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>
          <li><a href="./site-map.html" title="Site Map">Site Map</a></li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-12 footer__desktop__subscribe">
        <p>Get in touch</p>
        <ul class="subscribe-list">
          <li><span class="tel">
              <svg class="icon-phone l-icon" width="20" height="20">
                <use xlink:href="images/icons-svg.svg#icon-phone"></use>
              </svg><span dir="ltr"><a href="tel:+971-4-390-3333">+971 4 390 3333</a></span></span><span class="enquire">
              <svg class="icon-envelope l-icon" width="22" height="16">
                <use xlink:href="images/icons-svg.svg#icon-envelope"></use>
              </svg><a href="contact-us.html">Enquire now</a></span><span class="chat">
              <svg class="icon-comment l-icon" width="18" height="18">
                <use xlink:href="images/icons-svg.svg#icon-comment"></use>
              </svg><a href="./nakheel-live-chat.html">Live Chat</a></span></span></li>
          <li><span>Subscribe to our mailing list</span><span>
              <form method="POST">
                <input class="input-email" name="subscription-email" type="text" placeholder="Your email">
                <button class="btn-subscribe" type="submit">
                  <svg class="l-icon" width="16" height="16">
                    <use xlink:href="images/icons-svg.svg#icon-arrow"></use>
                  </svg>
                </button>
              </form></span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p>© Copyright 2020 Nakheel PJSC. All rights reserved.</p>
  </div>
  <div class="footer__newsletter_subs">
    <div class="footer__newsletter_subs__content">
      <div class="container no_pad">
        <div class="row">
          <div class="col-xs-24">
            <h2>Thank you for subscribing to our newsletter</h2>
            <h3>You have now been added to our mailing list.</h3>
            <div><a class="btn btn-outline_white" href="">Back</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
