.l-btn,
a.l-btn,
.btn {
  position:relative;
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #fff;
  font-size:15px;
  font-weight:500;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition:0.8s;
  background: $red;
  cursor: pointer;
  &:before,
  &:after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    transform: scale(0);
    transition: 0.8s;
    box-sizing: border-box;
  }
  &:before {
    border-bottom: 1px solid $red;
    border-left: 1px solid $red;
    transform-origin: 0 100%;
  }
  &:after {
    border-top: 1px solid $red;
    border-right: 1px solid $red;
    transform-origin: 100% 0%;
  }
  &:hover {
    border: 1px solid rgba(255,255,255,0);
    color: $red;
    background: rgba(255,255,255,0);
    &:before,
    &:after {
      transform: scale(1);
    }
    .l-icon{
      fill:#ae9962;
    }
  }
  &:focus {
    /* color: #ae9962; */
  }
  &.l-btn--load {
    width: 225px;
    background: #FFF;
    color: $red;
    border-color:$grey;
    &:hover {
      background: $red;
      color:#FFF;
      &:after,
      &:before {
        border-color:transparent;
      }
    }
    &:after,
    &:before {
      border-color:$dark;
    }
  }
  &.l-btn--grey {
    background: $dark;
    &:hover {
      background: #FFF;
      color:$dark;
    }
    &:after,
    &:before {
      border-color:$dark;
    }
  }
  .l-icon{
    fill:#fff;
  }
}
.l-btn-wrap {
  text-align:left;
  @include media-breakpoint-up(sm) {
    text-align:center;
  }
}

.mfp-close-btn-in button{
  &.mfp-close  {
    position: fixed;
    right: 0;
    top: 0;
    background: #AE9962;
    opacity: 1;
    cursor: pointer;
    color: #FFF;
    width: 50px;
    min-width: 30px;
    height: 50px;
    line-height: 1;
    font-size: 1.5em;
    font-family: initial;
    @include media-breakpoint-up(md) {
      width: 75px;
      min-width: 75px;
      height: 75px;
      font-size: rem(45);
    }
  }

  &.mfp-arrow {
    background: #AE9962;
    opacity:1;
    width:50px;
    height:50px;
    margin: 0;
    transform: translateY(-50%);
    min-width: auto;
    @include media-breakpoint-up(md) {
      width:70px;
      height:70px;
    }
    &:before{
      margin-left: auto;
      margin-top: 0;
      border: none;
      border: 10px solid #fff;
      border-bottom-color: transparent;
      border-top-color: transparent;
      border-left-color: transparent;
      position: absolute;
      content:"";
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);

    }
    &:after {
      display: none;
    }
    &.mfp-arrow-right{
      @include media-breakpoint-up(md) {
        transform: translate(80%,-50%);
      }
      &:before{
        transform:translate(-50%, -50%) rotate(180deg);

      }
    }
    &.mfp-arrow-left{
      @include media-breakpoint-up(md) {
        transform: translate(-80%,-50%);
      }
    }
  }

}

//Readmore
.readmore,
.readmore.readmore{
  font-size: 15px;
  color: $primarycolor;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle;
  transition: .8s all;

  svg{
    transition: .8s all;
  }

  .l-icon{
    fill: $primarycolor;
    vertical-align: middle;
    &.icon_readmore {
      transform:rotate(0deg); /*rtl:rotate(180deg)*/
    }
  }

  &:hover, &:focus{
    color: $textcolor;
    text-decoration: none;
    .l-icon{
      fill: $textcolor;
    }
  }
}

.btn{
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: .8s all;

  &.btn--outline{
    border: 1px solid rgba(255,255,255, .2);
  }
}

a.l-readmore,
.l-readmore {
  border: 1px solid #00315b;
  border-radius: 18px;
  color: #00315b;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 30px;
  color: #00315b;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color .8s linear, background .4s linear;
  width:auto;
  text-align: center;
  line-height: 9px;
  @include media-breakpoint-up(xs){
    font-size: 16px;
  };
  @include media-breakpoint-up(sm){
    font-size: 14px;
  };

  @include media-breakpoint-up(lg){
    font-size: 14px;
  };

  @include media-breakpoint-up(md){
    // width:230px;
    // padding: 7px 0px;
  }
  //&:before{
  //  content: '';
  //  z-index: -1;
  //  position: absolute;
  //  top: 50%;
  //  left: 100%;
  //  margin: -15px 0 0 1px;
  //  width: 50px;
  //  height: 50px;
  //  border-radius: 50%;
  //  background: #004e8f;
  //  transform-origin: 100% 50%;
  //  transform: scale3d(1, 2, 1);
  //  transition: transform 0.3s, opacity 0.3s;
  //  transition-timing-function: cubic-bezier(0.7,0,0.9,1);
  //  border-radius: 40px;
  //  display: none;
  //}

  &:hover{
    color: #fff;
    background: #004e8f;

    //&:before{
    //  transform: scale3d(9, 9, 1);
    //}
  }
}
