// Color
$primarycolor: #e72741;
$textcolor: #022247;
$bg: #f8f8f8;
$grey: #e7e7e7;
$lightgrey: #f0f0f0;
$headercolor: #ffffff;
$footercolor: #333333;
$bordercolor: #eaeaea;
$dark:#666;
$black: #000;
$red:#ea0000;
$regular: #525252;
$text: #a2a2a2;
$navblue: #003f72;
$error: #cc0000;
$lightblue: #899cac;
$formborder: #18325b;
$fieldborder: #707f9c;
$oddrow: #f5f5f5;
$darkgrey: #737373;

// Layout
$grid-columns: 24;
$grid-gutter-width: 0;
$container-large-desktop: 1260px;

$container-max-widths: (
  sm: 100%,
  md: 940px,
  lg: 1140px,
  xl: 1260px,
  xxl: 1920px
);

$grid-breakpoints: (
  // Extra extra small screen / phone
  xxs: 360px,
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1200px,
  // Extra large screen / wide desktop
  xl: 1441px,
  // Extra large screen / wide desktop
  xxl: 1600px
);

/* Open sans */
// Typography
$em-base: 16;
$os: 'Open Sans', sans-serif;

@font-face {
  font-family: 'FrutigerLTArabic-55Roman';
  src: url('../fonts/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/FrutigerLTArabic-55Roman.woff') format('woff'), url('../fonts/FrutigerLTArabic-55Roman.ttf')  format('truetype'), url('../fonts/FrutigerLTArabic-55Roman.svg#FrutigerLTArabic-55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Functions
// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)
@function em($pxval, $base: $em-base) {
   @if not unitless($pxval){
    $pxval: strip-units($pxval);
  }
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return $pxval / $base * 1em;
}
@function rem($size, $base: $em-base) {
  $remSize: $size / $em-base;
  @return #{$remSize}rem;
}
//Mixins
//Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
//wrap text
%textwrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
// Arrow
@mixin arrow($direction: top, $size: 10px, $color: #ccc, $center: 50%, $margin: -1px, $pseudo: before, $pos: relative, $zindex: 1) {
  position: $pos;
  border-color: $color;
  &:#{$pseudo} {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: $color;
    @if $direction == "right" {
      top: $center;
      left: 100%;
      margin-left: $margin;
      margin-top: $size * -1;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
      border-left-color: inherit;
      z-index: $zindex;
    }
    @else if $direction == "down" {
      top: 100%;
      left: $center;
      margin-top: $margin;
      margin-left: $size * -1;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-top: $size solid $color;
      border-top-color: inherit;
      z-index: $zindex;
    }
    @else if $direction == "left" {
      top: $center;
      right: 100%;
      margin-right: $margin;
      margin-top: $size * -1;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-right: $size solid $color;
      border-right-color: inherit;
      z-index: $zindex;
    }
    @else {
      bottom: 100%;
      left: $center;
      margin-bottom: $margin;
      margin-left: $size * -1;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;
      border-bottom-color: inherit;
      z-index: $zindex;
    }
  }
}

$breakpointsHeight: (
  // Extra extra small screen / iphone
  xxs: 320px,
  // Extra small Devices screen / phone
  xs: 480px,
  // Small Devices, Tablets screen / tablet
  sm: 650px,
  // Medium Devices, Desktops
  md: 800px,
  // Large Devices, Wide screen / desktop
  lg: 1260px
);


@mixin media-breakpoint-height($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpointsHeight, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media only screen and (max-height: $value) {
      @content;
    }
  }
}

@mixin ipadLand(){
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    @content;
  }
}
@mixin iphone5Land(){
  @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){
    @content;
  }
}
