html, body {
  // overflow-x: hidden;
  // overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  color:#4d4d4d;
  font-family: $os;
  /*rtl:FrutigerLTArabic-55Roman*/
  background: #f0f0f0;
  &.nav-open{
    overflow: hidden;
  }
}
.col_center{
  margin-left: auto;
  margin-right: auto;
  float: none;
}
body.ms-backgroundImage{
  background: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

*{
  table-layout: fixed;
}

*:focus{
  outline: 0;
}

::-ms-clear {
    display: none;
}

.container-fluid{
  max-width: 1920px;
}

a,
a:link,
a:visited,
a:active{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}



//icons
.l-icon{
  vertical-align: middle;
}

// Slick slider
.slick-arrow,
button.slick-arrow{
  width: 17px;
  height: 34px;
  // background: #ad9861;
  // border-radius: 50%;
  border:0;
  font-size: 0;
  line-height: 0;
  // box-shadow: 0 0 0 1px #ad9861;
  overflow: hidden;
  position: absolute;
  top: auto;
  // bottom: -50px;
  z-index: 99;
  outline: 0;
  transition: 0.8s background;
  background: url(../images/arrow.svg) no-repeat 0;

  &:hover{
    // background: #826416;
  }

  @include media-breakpoint-up(md){
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  &.slick-prev{
    left: 30%;

    transform: translate(-20%, -50%) rotate(180deg);
    @include media-breakpoint-up(md){
      left: -6.666%;
    }
  }

  &.slick-next{
    right: 30%;
    @include media-breakpoint-up(md){
      right: -6.333%;
    }
  }

  &.slick-disabled{
    background: #999 !important;
    // box-shadow: 0 0 0 1px #999;
  }
}

[dir="rtl"] {
  .slick-slide{
    float: left;
  }
  .slick-arrow,
  button.slick-arrow {
    &.slick-prev {
      transform:translate(20%, -50%) rotate(0deg) !important;
    }
    &.slick-next {
      transform:translate(20%, -50%) rotate(-180deg) !important;
    }
  }
}

.l-checkbox {
  display: inline-block;
  margin-bottom:30px;
  cursor:pointer;
  input[type="checkbox"] {
    + label {
      font-size: 12px;
      font-weight:bold;
      color: #AE9962;
      background: #FFF;
      padding:15px;
      background: #ffffff;
      border:1px solid #ae9962;
      margin-bottom:0;
      text-transform:uppercase;
      @include media-breakpoint-up(md) {
        padding:20px 30px 20px 30px;
        font-size:15px;
      }
      &:before {
        top:50%;
        transform:translateY(-50%);
        left:10px;
        opacity:0;
        @include media-breakpoint-up(md) {
          left:30px;
        }
      }
    }
    &:checked + label {
      color: #FFF;
      background: #AE9962;
      padding:15px 30px 15px 40px;
      cursor: pointer;
      @include media-breakpoint-up(md) {
        padding:20px 30px 20px 62px;
      }
      &:before {
        background:url(../images/icons-svg/icon-check.svg) no-repeat center /12px 10px #fff;
        opacity:1;
      }
    }
  }
}

// Titles
.l-title{
  text-transform: uppercase;
  color: $primarycolor;
  font-size: rem(30);
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: rem(20) 0;

  a{
    color: currentColor;
  }

  @include media-breakpoint-up(md){
    font-size: rem(30);
    padding-bottom: rem(40);
  }

}

.l-social{
  display: flex;
  margin-bottom: 15px;

  a{
    width: 27px;
    height: 27px;
    margin-right: 7px;

    &:last-child{
      margin-right: 0;
    }

    &:hover{
      svg{
        fill: $primarycolor;
      }
    }

    .site-footer &{
      margin-right: 15px;
    }
  }


  svg{
    width: 27px;
    height: 27px;
    fill: #7b7b7b;
    transition: all .8s;
  }

  .site-footer &{
    margin: 0 rem(20);
    margin-top: rem(15);
  }

}

.l-breadcrumb {
  background: $navblue;
  padding: 5px 30px;
  ul{
    li{
      display: inline-block;
      text-transform:uppercase;
      a {
        font-size: 14px;
        color:#fff;
        @include media-breakpoint-up(xs){
          font-size: 16px;
        }
      }
      span {
        color:#fff;
        font-size: 14px;
        margin: 0px 10px;
        @include media-breakpoint-up(xs){
          font-size: 16px;
        }
      }
      &.current {
        span {
          margin:0;
        }
      }
    }
  }
}

.l-main-title {
  text-transform: uppercase;
  display: inline-block;
  color:#FFF;
  font-size: rem(36);
  margin-bottom: rem(45);
  background: linear-gradient(-110deg, transparent 25px, $red 26px);
  padding: 10px 45px 10px 25px;
}

// .l-breadcrumb {
//   margin-bottom: 15px;
// }

// Titles

.l-main-title{
  text-transform: uppercase;
  @include media-breakpoint-up(lg){
    font-size: 40px;
  }
}

.l-sub-title{
  @include media-breakpoint-up(lg){
    font-size: 27px;
  }
}

p{
  @include media-breakpoint-up(lg){
    font-size: 18px;
  }
}

.bodyoverflow {
  overflow-y: hidden;
  height:100%;
  width:100%;
  position:fixed;
}

.text_left {
  text-align:left;
}

html[dir=rtl] .header__lang_ar {
  display:none;
}

html[dir=ltr] .header__lang_en {
  display:none;
}

.loading-screen {
  position:fixed;
  z-index:1000000;
  width:100%;
  height:100%;
  background-color:#fff;
  text-align:center;
  left:0;
  top:0;
  .loading-screen__content {
    display: block;
    position: absolute;
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%);
    left: 50%;
    > span {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 1px;
      overflow: hidden;
      span {
        display: block;
        position: absolute;
        bottom: 0;
        left: -102px;
        overflow: hidden;
        width: 100px;
        height: 1px;
        background-color: #003f72;
        -webkit-animation: loaderanim 1s 0s infinite;
        -ms-animation: loaderanim 1s 0s infinite;
        animation: loaderanim 1s 0s infinite;
      }
    }
  }
}

@-webkit-keyframes loaderanim {
  0% { left: -102px; }
  100% { left: 102px; }
}

@-ms-keyframes loaderanim {
  0% { left: -102px; }
  100% { left: 102px; }
}

@keyframes loaderanim {
  0% { left: -102px; }
  100% { left: 102px; }
}
