// sponsors
 .spotlight--home .row {
     @include media-breakpoint-up(sm) {
        display: flex;
     }
 }

 #page-wrap{
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 90px;
  position: relative;
  overflow-x: hidden;
  @include media-breakpoint-up(md) {
     padding-top: 133px;
  }
 }

 .sponsors {
     background: #f0f0f0;
     padding: rem(20) 0 rem(40);
     @include media-breakpoint-up(md) {
         padding-top: rem(58);
         padding-bottom: rem(75);
     }
     &.page--inner {
      @include media-breakpoint-up(md) {
        padding: 0 0 rem(40);
      }
       .l-title {
         color:#333;
         font-size: rem(20);
       }
     }
 }

 .widget-wrap-small {
     display: flex;
     width: 100%;
     height: 100%;
     max-height: 240px;
     >div {
         @include media-breakpoint-up(sm) {
             width: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
         }
         @include media-breakpoint-up(xs) {
            width: 100%;
         }
     }
 }

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

 // Sharepoint styles
 #s4-bodyContainer {
     padding-bottom: 0;
     overflow-x: hidden;
 }

 #DeltaPlaceHolderMain {
     display: block;
 }
