@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");


@font-face {
  font-family: 'FrutigerLTArabic-55Roman';
  src: url("../fonts/FrutigerLTArabic-55Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/FrutigerLTArabic-55Roman.woff") format("woff"), url("../fonts/FrutigerLTArabic-55Roman.ttf") format("truetype"), url("../fonts/FrutigerLTArabic-55Roman.svg#FrutigerLTArabic-55Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'FrutigerLTArabic-55Roman';
  /*rtl:FrutigerLTArabic-55Roman*/
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  color: #525252;
  font-weight: 400;
  -ms-overflow-style: scrollbar;
}

[dir="rtl"] html, [dir="rtl"] body {
  font-family: 'FrutigerLTArabic-55Roman';
}

.dropdown-submenu>a:after{
   margin-left: 10px !important; 
   margin-right: 0 !important; 
  }



.slick-arrow.slick-prev,
button.slick-arrow.slick-prev {
  left: 30%;
  -webkit-transform: translate(-20%, -50%) rotate(180deg);
          transform: translate(-20%, -50%) rotate(180deg);
}

@media (min-width: 992px) {
  .slick-arrow.slick-prev,
  button.slick-arrow.slick-prev {
    left: -6.666%;
  }
}

.slick-arrow.slick-next,
button.slick-arrow.slick-next {
  right: 30%;
}

@media (min-width: 992px) {
  .slick-arrow.slick-next,
  button.slick-arrow.slick-next {
    right: -6.333%;
  }
}


[dir="rtl"] .slick-slide {
  float: left;
}

[dir="rtl"] .slick-arrow.slick-prev,
[dir="rtl"] button.slick-arrow.slick-prev {
  -webkit-transform: translate(-5px, -50%) rotate(0deg) !important;
          transform: translate(-5px, -50%) rotate(0deg) !important;
}

[dir="rtl"] .slick-arrow.slick-next,
[dir="rtl"] button.slick-arrow.slick-next {
  -webkit-transform: translate(5px, -50%) rotate(-180deg) !important;
          transform: translate(5px, -50%) rotate(-180deg) !important;
}


.select-dropdown select {
  padding: 10px 10px 10px 55px;
}

@media (min-width: 480px) {
  .select-dropdown select {
    padding: 10px 20px 10px 55px;
  }
}

@media (min-width: 1920px) {
  .select-dropdown select {
    padding: 10px 30px 10px 65px;
  }
}


.select-dropdown:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 16px;
  right: auto;
}

@media (min-width: 992px) {
  .select-dropdown:after {
    left: 20px;
    right: auto;
  }
}

.select-dropdown:before {
  left: 0;
  right: auto;
}

.select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 10px 10px 55px;
}

@media (min-width: 480px) {
  .select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 10px 20px 10px 55px;
  }
}

@media (min-width: 1200px) {
  .select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 10px 30px 10px 65px;
  }
}

.select-dropdown .select2-container--open {
  left: 0 !important;
}


.select-dropdown .select-dropdown__menu .select2-dropdown {
  box-shadow: 0 0 0 3px #f3f3f3;
}


.select-dropdown.select-dropdown_style2:after {
  left: 16px;
  right: auto;
}

.select-dropdown.select-dropdown_style2 .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 10px 10px 75px;
}

@media (min-width: 480px) {
  .select-dropdown.select-dropdown_style2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 10px 20px 10px 75px;
  }
}

@media (min-width: 1200px) {
  .select-dropdown.select-dropdown_style2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 10px 30px 10px 85px;
  }
}


.nav-tabs {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}


@media (min-width: 992px) {
  .l-input {
    margin-right: 30px;
    margin-left: 0;
  }
  .l-input:first-child {
    margin-right: 0;
    margin-left: 0;
  }
}
/* @media (min-width: 992px) {
  .l-input {
    margin-right: 30px;
    margin-left: 0;
  }
  .l-input:first-child {
    margin-right: 0;
    margin-left: 0;
  }
} */

.l-input_datepicker {
  background: url(../images/icon-datepicker.jpg) no-repeat left 0 #fff;
  padding-right: 30px;
  text-align: right;
  padding-left: 90px;
  background-size: 80px 48px;
}

@media (min-width: 992px) {
  .l-input.l-input_datepicker {
    /* padding-right: 100px;
    padding-left: 0; */
    /* background-size: 80px 48px; */
  }
}

/* @media (min-width: 1200px) {
  .l-input.l-input_datepicker {
    padding-left: 134px;
    padding-right: 30px;
  }
} */


.intl-tel-input .flag-container {
  padding-left: 5px;
  padding-right: 0;
  border-right: none;
  border-left: 3px solid #f3f3f3;
}

.intl-tel-input input {
  padding-right: 60px;
  padding-left: 0;
}

@media (min-width: 992px) {
  .intl-tel-input {
    margin-right: 30px;
    margin-left: 0;
  }
  .intl-tel-input input {
    margin-left: 0;
    margin-right: 0;
    padding-right: 60px;
    padding-left: 0;
  }
}

.intl-tel-input.allow-dropdown input[type=text] {
  padding-right: 60px;
  padding-left: 0;
}



.loading-screen {
  left: 0;
}

.loading-screen .loading-screen__content {
  left: 50%;
}



.loading-screen .loading-screen__content > span span {
  right: -102px;
  left: auto;
}



.mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left:before {
  margin-right: -10px;
  margin-left: 0;
}

.mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right {
  left: 0px;
  right: auto;
}

.mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right:before {
  margin-right: 10px;
  margin-left: 0;
}

@media (min-width: 992px) {

  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left {
    right: 25px;
    left: auto;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left:before {
    margin-right: auto;
    margin-left: 0;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right {
    left: 25px;
    right: auto;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right:before {
    margin-right: auto;
    margin-left: 0;
  }
}

.mfp-wrap.mfp-close-btn-in button.mfp-close {
  padding-left: 12px;
  padding-right: 0;
}

@media (min-width: 992px) {
  .mfp-wrap.mfp-close-btn-in button.mfp-close {
    padding-right: 10px;
    padding-left: 0;
  }
}

.floating-menu {
  left: 0;
  right: auto;
}

.floating-menu a {
  border-radius: 3px 0 0 3px;
}



@media (min-width: 992px) {
  .widget-box.even .widget-box__content {
    border-right: 2px solid #eeeeee;
    border-left: none;
  }
}

@media (min-width: 992px) {
  .widget-box.odd .widget-box__content {
    border-left: 2px solid #eeeeee;
    border-right: none;
  }
}



.tenders .tenders-data .tenders-info strong {
  margin-left: 10px;
  margin-right: 0;
}


.read-more img {
  margin-right: 15px;
  margin-left: 0;
}


.l-scroll-top,
a.l-scroll-top {
  left: 25px;
  right: auto;
}


@media (min-width: 1441px) {
  .l-scroll-top,
  a.l-scroll-top {
    left: 20px;
    right: auto;
  }
}



.mfp-close-btn-in button.mfp-close {
  left: 0;
  right: auto;
}



.mfp-close-btn-in button.mfp-arrow:before {
  margin-right: 0;
  margin-left: auto;
  /* border: 10px solid #fff; */
  border-right-color: #fff;
  border-left-color: transparent;
  right: 0%;
  left: auto;
  transform: inherit;
}

.mfp-arrow-left.mfp-close-btn-in button.mfp-arrow.mfp-arrow-left{
  right: 20%;
}


a.l-readmore,
.l-readmore {
  font-family: 'FrutigerLTArabic-55Roman';
}

a.l-readmore span,
.l-readmore span {
  margin-left: 5px;
  margin-right: 0;
}


.accordion-container{
  text-align: right;
}
@media (min-width: 992px) {
  .accordion-container .accordion .panel .panel-heading {
    padding: 0 30px 0 0;
  }
}

@media (min-width: 1200px) {
  .accordion-container .accordion .panel .panel-heading {
    padding: 0 30px 0 0;
  }
}

@media (min-width: 1920px) {
  .accordion-container .accordion .panel .panel-heading {
    padding: 0 40px 0 0;
  }
}

.accordion-container .accordion .panel .panel-heading h4 {
  padding-left: 15px;
  padding-right: 0;
}


@media (min-width: 992px) {
  .accordion-container .accordion .panel .panel-heading h4 {
    padding-left: 25px;
    padding-right: 0;
  }
}



@media (min-width: 1920px) {
  .accordion-container .accordion .panel .panel-heading h4 {
    padding-left: 40px;
    padding-right: 0;
  }
}

.accordion-container .accordion .panel .panel-heading h4:after {
  left: 0;
  right: auto;
}


.accordion-container .accordion .panel.fadeout .panel-heading h4:before {
  right: 0;
  left: auto;
}




.accordion-container .accordion .panel:before {
  right: 0;
  left: auto;
}


.accordion-container .accordion .panel .panel-body li {
  padding-right: 25px;
  padding-left: 0;
}


.accordion-container .accordion .panel .panel-body li:before {
  right: 0;
  left: auto;
}



.accordion-container .accordion .panel .panel-body li ul {
  margin-right: 25px;
  margin-left: 0;
}

.accordion-container .accordion .panel .panel-body li ul li {
  padding-right: 0;
  padding-left: 0;
}

.accordion-container .accordion .panel .panel-body .brief-info-link {
  margin-right: 25px;
  margin-left: 0;

}

.accordion-container .accordion.accordion_style1 .panel .panel-heading {
  padding-right: 0;
  padding-left: 0;
}


.accordion-container .accordion.accordion_style2 .panel .panel-heading {
  padding-right: 0;
  padding-left: 0;
}

.accordion-container .accordion.accordion_inner .panel {
  padding-right: 0 !important;
  padding-left: 0 !important;
}



@media (min-width: 480px) {
  .tenders .accordion-container .accordion .panel .panel-heading h4 {
    padding-left: 20px;
    padding-right: 0;
  }
}


.communities-carousel .slick-dots {
  left: 0;
}


@media (min-width: 992px) {
  .community-facilities__gallery .pos_abs_md {
    right: 0;
    left: 0;
  }
}


.community-facilities__gallery .community-facilities__gallery__content .community-facilities__bedrooms svg {
  margin-left: 20px;
  margin-right: 0;
}

.community-facilities__gallery .community-facilities__gallery__content .community-facilities__bedrooms span {
  padding-left: 15px;
  padding-right: 0;
  border-left: 2px solid #444444;
  border-right: none;
  margin-left: 15px;
  margin-right: 0;
}


.community-location .community-location__content.community-location__content_withtime .community-location__content__contact {
  padding: 15px 15px 15px 0;
}

@media (min-width: 480px) {
  .community-location .community-location__content.community-location__content_withtime .community-location__content__contact {
    padding: 15px 40px 15px 0;
  }
}



@media (min-width: 480px) {
  .community-location .community-location__content {
    padding: 0 38px 0 15px;
  }
}



@media (min-width: 1200px) {
  .community-location .community-location__content {
    padding: 0 0 0 15px;
  }
}



.community-location .community-location__content span {
  margin-left: 30px;
  margin-right: 0;
}




@media (min-width: 360px) {
  .community-location .community-location__content span {
    margin-left: 15px;
    margin-right: 0;
  }
}

@media (min-width: 480px) {
  .community-location .community-location__content span {
    margin-left: 30px;
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  .community-location .community-location__content span {
    margin-left: 10.4675vw;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .community-location .community-location__content span {
    margin-left: 15px;
    margin-right: 0;
  }
}

.community-location .community-location__content span svg {
  margin-left: 15px;
  margin-right: 0;
}


@media (min-width: 992px) {
  .community-location .community-location__content span svg {
    margin-left: 15px;
    margin-right: 0;
  }
}



.community-location .community-location__content .community-location__content__timings {
  background-color: #003f72;
  overflow: hidden;
  padding: 15px 15px 15px 0;
}

@media (min-width: 480px) {
  .community-location .community-location__content .community-location__content__timings {
    padding: 15px 40px 15px 0;
  }
}



.community-location .community-location__content .community-location__content__timings ul li {
  margin-left: 2.4675vw;
  margin-right: 0;
}

@media (min-width: 480px) {
  .community-location .community-location__content .community-location__content__timings ul li {
    margin-left: 10.4675vw;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .community-location .community-location__content .community-location__content__timings ul li {
    margin-left: 0;
    margin-right: 0;
  }
}



.community-location .community-location__content .community-location__content__contact {
  padding: 15px 30px 15px 0;
  background-color: #003261;
}

@media (min-width: 480px) {
  .community-location .community-location__content .community-location__content__contact {
    padding: 15px 40px 15px 0;
  }
}


@media (min-width: 992px) {
  .community-highlights_home .section-title,
  .community-highlights_hospitality .section-title,
  .latest-news__list .section-title,
  .community-highlights_latest-news .section-title,
  .nakheel-sales-highlights .section-title {
    text-align: right;
  }
}



.latest-news__list .highlights-listing {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}


@media (min-width: 992px) {
  .about-highlights .section-title {
    text-align: right;
  }
}

.community-highlights_news .slick-dots {
  right: 0;
  left: auto;
}


.community-highlights_news .slick-arrow.slick-next {
  left: 0;
  right: auto;
}

.community-highlights_news .slick-arrow.slick-prev {
  right: 0;
  left: auto;
}

@media (min-width: 992px) {

  .community-highlights_news .slick-arrow.slick-next {
    left: -35px;
    right: auto;
  }
  .community-highlights_news .slick-arrow.slick-prev {
    right: -35px;
    left: auto;
  }
}

@media (min-width: 1920px) {
  .community-highlights_news .slick-arrow.slick-next {
    left: -63px;
    right: auto;
  }
  .community-highlights_news .slick-arrow.slick-prev {
    right: -63px;
    left: auto;
  }
}




.community-filter h3 {
  float: left;
  margin: 20px 0 0 12px;
  padding-right: 15px;
  padding-left: 0;
}

@media (min-width: 480px) {
  .community-filter h3 {
    margin: 20px 0 0 35px;
    padding-right: 12px;
    padding-left: 0;
  }
}

.community-filter .community-filter__buttons {
  padding-left: 10%;
  padding-right: 0;
}


@media (min-width: 992px) {
  .community-filter .community-filter__buttons {
    padding-left: 0;
    padding-right: 0;
  }
  .community-filter .community-filter__buttons .btn {
    margin-left: -4px;
    margin-right: 0;
  }
}



.contact-form form .checkbox-wrapper {
  text-align: right;
  margin-right: 10px;
  margin-left: 0;
  padding-right: 15px;
  padding-left: 0;
}
.contact-form form .checkbox-wrapper label:before {
  right: -25px;
  left: auto;
}
.contact-form form .checkbox-wrapper input:checked + label:after {
  right: -23px;
  left: auto;
}


@media (min-width: 992px) {
  .contact-form form .contact-form__inputs input {
    margin-right: 30px;
    margin-left: 0;
  }
  .contact-form form .contact-form__inputs input:first-child {
    margin-right: 0;
    margin-left: 0;
  }
}




.contact-form form .contact-form__inputs .intl-tel-input .flag-container {
  padding-left: 5px;
  padding-right: 7px;
  border-left: 3px solid #f3f3f3;
}


.contact-form form .contact-form__inputs .intl-tel-input input {
  padding-right: 60px;
  padding-left: 0;
}

@media (min-width: 992px) {
  .contact-form form .contact-form__inputs .intl-tel-input {
    margin-right: 0px;
    margin-left: 0px;
  }
  .contact-form form .contact-form__inputs .intl-tel-input input {
    margin-right: 0;
    margin-left: 0;
    padding-right: 60px;
    padding-left: 0;
  }
}




.contact-location .contact-location__content {
  padding: 0 30px 0 0;
  text-align: right;
}

@media (min-width: 480px) {
  .contact-location .contact-location__content {
    padding: 0 38px 0 15px;
  }
}


@media (min-width: 1200px) {
  .contact-location .contact-location__content {
    padding: 0 0 0 15px;
  }
}



.contact-location .contact-location__content span {
  margin-left: 30px;
  margin-right: 0;
}



@media (min-width: 360px) {
  .contact-location .contact-location__content span {
    margin-left: 15px;
    margin-right: 0;
  }
}

@media (min-width: 480px) {
  .contact-location .contact-location__content span {
    margin-left: 30px;
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  .contact-location .contact-location__content span {
    margin-left: 10.4675vw;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .contact-location .contact-location__content span {
    margin-left: 15px;
    margin-right: 0;
  }
}


.contact-location .contact-location__content span svg {
  margin-left: 15px;
  margin-right: 0;
}

@media (min-width: 992px) {
  .contact-location .contact-location__content span svg {
    margin-left: 15px;
    margin-right: 0;
  }
}

.contact-location .contact-location__content .contact-location__content__timings {
  padding: 15px 15px 15px 0;
}

@media (min-width: 480px) {
  .contact-location .contact-location__content .contact-location__content__timings {
    padding: 15px 40px 15px 0;
  }
}



.contact-location .contact-location__content .contact-location__content__timings ul li {
  margin-left: 2.4675vw;
  margin-right: 0;
}

@media (min-width: 992px) {
  .contact-location .contact-location__content .contact-location__content__timings ul li {
    margin-left: 10.4675vw;
    margin-right: 0;
  }
}

.contact-location .contact-location__content .contact-location__content__contact {
  padding: 15px 30px 15px 0;
}


@media (min-width: 480px) {
  .contact-location .contact-location__content .contact-location__content__contact {
    padding: 15px 40px 15px 0;
  }
}


.article-content {
  text-align: right;
}



.faqs .accordion-container .accordion .panel .panel-body li ul {
  margin-right: 10px;
  margin-left: 0;
}

.faqs .accordion-container .accordion .panel .panel-body li {
  padding-right: 15px;
  padding-left: 0;
}

@media (min-width: 992px) {
  .faqs .accordion-container .accordion .panel .panel-body li {
    padding-right: 25px;
    padding-left: 0;
  }
}

.faqs .accordion-container .accordion .panel .panel-body li li {
  padding-right: 0;
  padding-left: 0;
}

.faqs .accordion-container .accordion .panel .panel-body li li:after {
  right: -15px;
  left: auto;
}



.delegation-form .form__inputs .select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 20px;
  padding-left: 0;
}


.delegation-form .form__textarea textarea {
  margin-right: 0px;
  margin-left: 0px;
}


.header__nav .navbar__logo {
  float: right;
}

.header__nav .navbar .navbar-toggle {
  left: 0px;
  right: auto;
  margin-left: 0px;
  margin-right: auto;
}

/* stop  */



.header__nav .navbar .navbar-collapse {
  right: 0px;
  left: auto;
}



.header__nav .navbar .navbar-collapse .navbar-close {
  right: 60px;
  left: auto;
}

@media (min-width: 480px) {
  .header__nav .navbar .navbar-collapse .navbar-close {
    left: 0px;
    right: auto;
  }
}

.header__nav .navbar .navbar-collapse .navbar-close .l-icon {
  left: 10px;
  right: auto;
}

.header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix {
  float: right;
  width: 100%;
}

@media (min-width: 992px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix {
    float: left;
    direction: ltr;
  }
}


@media (min-width: 480px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li.search {
    padding: 10px 15px 0 55px;
  }
}

@media (min-width: 992px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li {
    display: inline-block;
    margin: 0 20px 0 0;
  }
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li.lang {
    margin-left: 10px;
    margin-right: auto;
  }

  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li.search a {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li {
    margin: 0 30px 0 0;
  }
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li.lang {
    margin-right: 15px;
    margin-left: 0;
  }
}

@media (min-width: 1920px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li {
    margin: 0 35px 0 0;
  }
}

.header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li .search__icon {
  margin-right: 15px;
  margin-left: 0;
}
@media (min-width: 992px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li .search__icon {
    text-align: left;
  }
}



@media (min-width: 992px) {
  .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li.lang a {
    font-family: 'FrutigerLTArabic-55Roman';
  }
  [dir="rtl"] .header__nav .navbar .navbar-collapse .navbar-top ul.nav.clearfix li.lang a {
    font-family: 'FrutigerLTArabic-55Roman';
    font-size: 14px;
  }

}



@media (min-width: 992px) {
  .header__nav .navbar .navbar-collapse .header__main-nav {
    margin-left: 0;
    margin-right: 0;
  }
}



@media (min-width: 992px) {
  .header__nav .navbar .navbar-collapse .header__main-nav li {
    margin: 0 0 0 20px;
  }
  .header__nav .navbar .navbar-collapse .header__main-nav li:last-child {
    margin-left: 0;
    margin-right: 0;
  }
}



@media (min-width: 992px) {
  .header__nav ul {
    float: left;
  }
}




.header__nav ul li a .caret {
  margin-right: 10px;
  margin-left: 0;
}

.header__nav ul li .dropdown-menu {
  margin-right: 10px;
  margin-left: 0;
}
.header__nav ul li .dropdown-menu li a{
  text-align: right;
}
.header__nav ul li .dropdown-menu li.dropdown-submenu a:after {
  float: left;
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  .header__nav ul li .dropdown-menu {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (min-width: 768px){
.navbar-nav {
    float: right;
    margin: 0;
}
}







.header__search_overlay {
  right: 0;
  left: auto;
}

.header__search_overlay .header__search_close {
  left: 15px;
  right: auto;
}

@media (min-width: 1200px) {
  .header__search_overlay .header__search_close {
    left: 35px;
    right: auto;
  }
}


.header .header__search_box .btn {
  left: 0;
  right: auto;
}

.header .header__search_box .search__input {
  padding: 5px 10px 5px 95px;
  line-height: 14px;
}



@media (min-width: 768px) {
  .footer__desktop__links li {
    padding: 5px 12px 5px 5px;
  }
}

@media (min-width: 1200px) {
  .footer__desktop__links li {
    padding: 0px 10px 0px 0;
  }
}

.footer__desktop .btn-subscribe {
  left: 0;
  right: auto;
}


.footer__desktop__subscribe .subscribe-list li:nth-child(2) > span svg{
  transform: rotate(-180deg);
}
.footer__desktop__subscribe .subscribe-list li span svg {
  right: 0;
  left: auto;
}

.footer__desktop__subscribe .subscribe-list li span.tel {
  padding-right: 30px;
  padding-left: 0;
  margin-left: 25px;
  margin-right: 0;
}


.footer__desktop__subscribe .subscribe-list li span.enquire {
  padding-right: 30px;
  padding-left: 0;
  margin-left: 25px;
  margin-right: 0;
}



.footer__desktop__subscribe .subscribe-list li span.chat {
  padding-right: 30px;
  padding-left: 0;
}



.footer__desktop__subscribe .subscribe-list li:nth-child(2) .input-email {
  padding-left: 25px;
  padding-right: 0;
}


.footer .footer__newsletter_subs {
  right: 0;
  left: auto;
}



.footer .footer__newsletter_subs .footer__newsletter_subs__content {
  right: 0;
  left: auto;
}



@media (min-width: 992px) {
  .highlights > h1 {
    text-align: right;
  }
}


@media (min-width: 992px) {
  .highlights .highlights__actions .highlights__button {
    margin: 0 0 0 8px;
  }
}



.gallery-carousel_mobile .slick-arrow.slick-next {
  left: 0;
  right: auto;
}

.gallery-carousel_mobile .slick-arrow.slick-prev {
  right: 0;
  left: auto;
}





@media (min-width: 992px) {

  .gallery-carousel_desktop .slick-arrow.slick-next {
    left: -35px;
    right: auto;
  }
  .gallery-carousel_desktop .slick-arrow.slick-prev {
    right: -35px;
    left: auto;
  }
}

@media (min-width: 1920px) {
  .gallery-carousel_desktop .slick-arrow.slick-next {
    left: -63px;
    right: auto;
  }
  .gallery-carousel_desktop .slick-arrow.slick-prev {
    right: -63px;
    left: auto;
  }
}



.community-leasing-impnote ul li {
  padding-right: 20px;
  padding-left: 0;
}

.community-leasing-impnote ul li:before {
  right: 0;
  left: auto;
}

.community-leasing-impnote_procurement .section-title {
  text-align: right;
}




@media (min-width: 768px) {
  .media-gallery__filter label {
    text-align: left;
  }
}




@media (min-width: 992px) {
  .hsse-content {
    text-align: right;
  }
}



@media (min-width: 992px) {
  .nav-tabs.about_tabs {
    left: 50%;
  }
}



.community-intro .community-highlights_single .single-project {
  text-align: right;
}

.community-intro .gallery-container {
  text-align: right;
}




@media (min-width: 992px) {
  .community-intro .gallery-container .widget-box.even .widget-box__content {
    border-left: 2px solid #eeeeee;
    border-right: none;
  }
}



@media (min-width: 992px) {
  .community-intro .gallery-container .widget-box.odd .widget-box__content {
    border-right: 2px solid #eeeeee;
    border-left: none;
  }
}



.community-intro .about-mobile-dropdown .btn {
  text-align: right;
  padding: 10px 20px 10px 65px;
}



.community-intro .about-mobile-dropdown .btn:after {
  left: 16px;
  right: auto;
}

@media (min-width: 992px) {
  .community-intro .about-mobile-dropdown .btn:after {
    left: 20px;
    right: auto;
  }
}

.community-intro .about-mobile-dropdown .btn:before {
  left: 0;
  right: auto;
}


.features-listing li {
  padding-left: 3px;
  padding-right: 0;
  padding-right: 34px;
  padding-left: 0;
}



.features-listing li svg {
  margin-left: 10px;
  margin-right: 0;
  right: 0;
  left: auto;
}




.content-listing .inner-list_style1 li {
  padding-right: 10px;
  padding-left: 0;
}

.content-listing .inner-list_style1 li:before {
  right: 0;
  left: auto;
}




.search-listing__right {
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 992px) {
  .search-listing__right {
    padding-right: 30px;
    padding-left: 0;
  }
}


@media (min-width: 992px) {
  .highlights-listing {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}



.highlights-listing .highlights-listing__listitem_inner > a > div > div:after,
.highlights-listing .highlights-listing__listitem_inner > div > div:after {
  right: 0;
  left: auto;
}




.highlights-listing .highlights-listing__listitem_inner .read-more {
  right: 15px;
  left: auto;
}

@media (min-width: 1920px) {
  .highlights-listing .highlights-listing__listitem_inner .read-more {
    right: 25px;
    left: auto;
  }
}


.communities-listing li {
  float: left;
}





.communities-listing figure:after {
  right: 0;
  left: auto;
}



.communities-listing figure figcaption {
  right: 0;
  left: auto;
}



.latest-news__filter .latest-news__search_input .btn {
  left: 1px;
  right: auto;
}




.latest-news__filter input[type="text"] {
  padding: 10px 10px 10px 84px;
}



@media (min-width: 1200px) {
  .latest-news__filter input[type="text"] {
    padding: 10px 30px 10px 104px;
  }
}


@media (min-width: 992px) {
  .pagination {
    float: right;
  }
}



.nkmalls-slider-container .nkmalls-slider-container__logocarousel .slick-dots {
  right: 0;
  left: auto;
}




.nkmalls-slider-container .nkmalls-slider-container__contentcarousel .slick-arrow.slick-next {
  left: 0;
  right: auto;
}

.nkmalls-slider-container .nkmalls-slider-container__contentcarousel .slick-arrow.slick-prev {
  right: 0;
  left: auto;
}

@media (min-width: 992px) {

  .nkmalls-slider-container .nkmalls-slider-container__contentcarousel .slick-arrow.slick-next {
    left: -35px;
    right: auto;
  }
  .nkmalls-slider-container .nkmalls-slider-container__contentcarousel .slick-arrow.slick-prev {
    right: -35px;
    left: auto;
  }
}

@media (min-width: 1920px) {
  .nkmalls-slider-container .nkmalls-slider-container__contentcarousel .slick-arrow.slick-next {
    left: -63px;
    right: auto;
  }
  .nkmalls-slider-container .nkmalls-slider-container__contentcarousel .slick-arrow.slick-prev {
    right: -63px;
    left: auto;
  }
}

@media (min-width: 480px) {
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info {
    padding-left: 20vw;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info {
    padding-left: 30px;
    padding-right: 0;
  }
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info .btn {
    right: 30px;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info {
    padding-left: 40px;
    padding-right: 0;
  }
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info .btn {
    right: 40px;
    left: auto;
  }
}

@media (min-width: 1920px) {
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info {
    padding: 80px 50px 120px 80px;
  }
  .nkmalls-slider-container.nkmalls-slider-container_current .single-project .single-project__info .btn {
    right: 50px;
    left: auto;
  }
}




@media (min-width: 1920px) {
  .nkmalls-slider-container.nkmalls-slider-container_upcoming .single-project .single-project__info {
    padding: 80px 50px 120px 80px;
  }
}






.nakheel-developments .nakheel-developments__logocarousel .slick-slide {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
}



.nakheel-developments .nakheel-developments__contentcarousel .slick-arrow.slick-next {
  left: 0;
  right: auto;
}

.nakheel-developments .nakheel-developments__contentcarousel .slick-arrow.slick-prev {
  right: 0;
  left: auto;
}

@media (min-width: 992px) {

  .nakheel-developments .nakheel-developments__contentcarousel .slick-arrow.slick-next {
    left: -35px;
    right: auto;
  }
  .nakheel-developments .nakheel-developments__contentcarousel .slick-arrow.slick-prev {
    right: -35px;
    left: auto;
  }
}

@media (min-width: 1920px) {
  .nakheel-developments .nakheel-developments__contentcarousel .slick-arrow.slick-next {
    left: -63px;
    right: auto;
  }
  .nakheel-developments .nakheel-developments__contentcarousel .slick-arrow.slick-prev {
    right: -63px;
    left: auto;
  }
}




@media (min-width: 480px) {
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt {
    padding-left: 20vw;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt {
    padding-left: 30px;
    padding-right: 0;
  }
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt .btn {
    right: 30px;
    left: auto;
  }
}

@media (min-width: 1200px) {
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt {
    padding-left: 40px;
    padding-right: 0;
  }
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt .btn {
    right: 40px;
    left: auto;
  }
}

@media (min-width: 1920px) {
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt {
    padding: 80px 50px 120px 80px;
  }
  .nakheel-developments.nakheel-developments_current .single-project .single-project__info.single-project__info_fullhgt .btn {
    right: 50px;
    left: auto;
  }
}


.community-rental-details_leaseinfo ul li {
  padding-right: 25px;
  padding-left: 0;
}

.community-rental-details_leaseinfo ul li:before {
  right: 0;
  left: auto;
}



@media (min-width: 992px) {
  .community-rental-details_leaseinfo ul li:nth-child(odd) {
    padding-left: 12vw;
    padding-right: 0;
  }
}




@media (min-width: 992px) {
  .community-rental-details_leaseinfo ul li:last-child {
    padding-left: 6vw;
    padding-right: 0;
  }
}




@media (min-width: 992px) {

  .community-rental-details_feetable .table .inner_table tbody tr > th:first-child {
    border-left: none;
  }
  .community-rental-details_feetable .table .inner_table tbody tr > td {
    padding-left: 0;
    border: 1px solid #cbcbcb;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}




@media (min-width: 992px) {
  /* .community-rental-details_feetable .table .inner_table tbody tr > td:last-child {
    border-right: none;
  } */
  .community-rental-details_feetable .table .inner_table tbody tr > td:last-child {
    border-right: none;
    border-left: none;
}

  .community-rental-details_feetable .table .inner_table .inner_table tbody tr > td:first-child {
    padding-right: 15px;
    padding-left: 0;
  }
}


.community-rental-details_chargestable__legend > div span {
  padding-left: 5px;
  padding-right: 0;
}





.sitemap .sitemap__content .sitemap__content__cols {
  padding-left: 10px;
  padding-right: 0;
}




.sitemap .sitemap__content .sitemap__content__cols ul li ul {
  margin-right: 20px;
  margin-left: 0;
}


.single-project.about-project .single-project__info p, .single-project.about-project .single-project__info h3 {
  text-align: right;
}




.single-project_slider .single-project__wrap .single-project__info h3:after {
  right: 0;
  left: auto;
}



.single-project_slider .single-project__wrap .single-project__info .single-project__heading .single-project__timings .single-project__timings_futureyear {
  padding-right: 5px;
  padding-left: 0;
}

.single-project_slider .single-project__wrap .single-project__info .single-project__heading .single-project__timings strong span {
  padding-right: 5px;
  padding-left: 0;
}

.single-project_slider .single-project__wrap .single-project__info .single-project__heading:after {
  right: 0;
  left: auto;
}



.single-project_slider .single-project__wrap .single-project__info .single-project__contact_info span {
  margin-left: 20px;
  margin-right: 0;
}



@media (min-width: 1920px) {
  .single-project_slider .single-project__wrap .single-project__info .single-project__contact_info span {
    margin-left: 40px;
    margin-right: 0;
  }
}


.single-project_slider .single-project__wrap .single-project__info .single-project__contact_info span svg {
  margin-left: 10px;
  margin-right: 0;
}


@media (min-width: 992px) {
  .single-project_style2 .single-project__wrap .single-project__info {
    padding: 0 30px 0 0;
  }
}

@media (min-width: 992px) {
  .single-project_style2 .single-project__wrap .single-project__info {
    padding: 0 40px 0 0;
  }
}



.single-project__contact_info > span a {
  color: #333;
  margin: 0px 0 0px 12px;
}

.single-project__contact_info > span svg {
  margin: 0px 0 0px 5px;
}




.spotlight__arrows .slick-arrow.slick-prev {
  right: -13.054%;
  left: auto;
}

.spotlight__arrows .slick-arrow.slick-next {
  left: -13.054%;
  right: auto;
}

.spotlight .slick-dots {
  right: 0;
  left: auto;
}

@media (min-width: 992px) {
  .picture_container{
	  float:left;
  }
  .spotlight__slide_content {
    right: 0;
	  float:right;
  }
}




.spotlight_single .l-breadcrumb {
  right: 0;
  left: auto;
}



.table tbody tr td {
  text-align: right;
}



.accordion-mobile .xs-title:after, .accordion-mobile .xs-title:before {
  left: 20px;
  right: auto;
}


.spotlight__info{ 
  right: 0; 
  left:  auto; 
}

#carousel-coll .single-project__wrap {display: flex; flex-direction: row;}
#carousel-coll .single-project__wrap .single-project__info{float: right;}
#carousel-coll .single-project__wrap .single-project__media{float: right;}

@media (min-width: 992px){
  .footer__desktop {
      display: flex;
  }
}




/*#intro-tab-nav li{margin: 0 30px !important;}*/


#delegationed #template-contactform .l-input{
  padding-right: 30px;
  padding-left: 0;
  text-align: right;
}
#delegationed #template-contactform #delphone{
  padding-right: 60px;
  padding-left: 0;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
	ul.dropdown-menu{
    margin-right: 0px;
    margin-left: 0px;
  }
	.header__nav ul li .dropdown-menu{
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 0;
  }

}

/************** css for vr tours listing page *************/
.vr-tours-item .description{
    text-align: right;
}
/************** css for vr tours listing page *************/
.intl-tel-input .country-list .country {
  text-align: right;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name{
  margin-left: 6px;
  margin-right: 0;
}
.community-location .row{
  display: flex;
  flex-direction: row-reverse;
}
.community-location .row .col-lg-offset-3{
  margin-left: 0;
  margin-right: 12.5%;
}
.community-location .row .col-md-push-16{
  left: auto;
}
.community-location .row .col-md-pull-8{
  right: auto;
}
.community-location .row  .col-md-push-16{
  left: auto;
}
.community-leasing-impnote.community-leasing-impnote_procurement .row{
  display: flex;
}
.read-more img{
  transform: rotate(180deg);
}
.community-intro .about-mobile-dropdown .dropdown-menu a{
  text-align: right;
}
.footer .footer__mobile__newsletter .form-input{
  text-align: right;
}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container{
  right: 0;
  left: auto;
}
.intl-tel-input .selected-flag {
  padding: 0 8px 0 0;
}
.intl-tel-input .selected-flag .iti-arrow{
  left: 0;
  right: auto;
}
.community-location .community-location__content span .icon-phone{
  transform: rotate(90deg);
}
.footer__desktop__subscribe .subscribe-list li span.tel svg{
  transform: rotate(90deg);
}
.listing .listing__item__description{
  text-align: right;
}
@media(min-width: 1200px){
  .l-input_datepicker {
    background-size: auto 68px;
    padding-left: 134px;
  }
  .l-input.l-input_datepicker {
    padding-left: 134px !important;
    padding-right: 30px;
  }
}
@media (min-width: 992px){
  .single-project .single-project__wrap {
    display: flex !important;
    /* flex-direction: row-reverse; */
  }
  .delegation-form .form__footer {
    flex-direction: row;
  }
}
@media(max-width: 1200px){
  .l-input.l-input_datepicker {
    padding-left: 100px !important;
    padding-right: 30px;
  }
}

  /* #template-contactform .delegation-form .form__footer {
    flex-direction: row;
} */


/* @media (min-width: 1200px) {

} */








@media(max-width: 991px){
  .delegation-form .form__footer{
    width: 100%;
    text-align: right;
  }
  .community-location .row{
    display: block;
  }
  .community-location .row .col-lg-offset-3{
    margin-right: 0; 
  }
  .community-location .community-location__content{
    padding-right: 30px;
  }
}

@media (max-width: 992px) {
  .header__nav ul li .dropdown-menu {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .header__nav ul li .dropdown-menu li.dropdown-submenu>a:after {
    margin-left: 25px !important;
    margin-right: 0 !important;
  }
}

.nav-tabs.nav-tabs_about li{
  margin: 0 26px;
}
.vr-tours-item .description .btn{
  height: auto;
  max-height: 100%;
}


@media (min-width: 992px){
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right {
    left: auto;
    right: 25px;
}
.mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left {
    right: auto;
    left: 25px;
}
}

/* .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left {
  right: -50px;
  left: auto;
}
.mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right{
  left: -50px;
  right: auto;
}
.mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left button.mfp-arrow:before{
  
} */

@media (max-width: 767px) {
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right {
    right: 0px;
    left: auto;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left:before {
    margin-right: 10px;
    margin-left: 0;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right:before {
    margin-right: -10px;
    margin-left: 0;
  }
}

@media (max-width: 992px){
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right {
    right: 0px;
    right: auto;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-left:before {
    margin-right: 10px;
    margin-left: 0;
  }
  .mfp-wrap.mfp-close-btn-in .mfp-arrow.mfp-arrow-right:before {
    margin-right: -10px;
    margin-left: 0;
  }
}

.mfp-wrap.mfp-close-btn-in button.mfp-close {
  padding-right: 12px;
  padding-left: 0;
}
.community-highlights + .community-location .row{
  flex-flow: column;
}

.dev-jumeirah-islands-townhouses .community-highlights + .community-location .row{
  flex-flow: row-reverse;
}

.dev-the-palm-tower .community-highlights + .community-location .row{
  flex-flow: row-reverse;
}

.footer .footer__mobile__newsletter p {
  word-spacing: 10px;
}
.community-location .community-location__content .community-location__content__timings ul li{
  width: 100%;
}
@media(max-width:767px){
  .community-location .community-location__content .community-location__content__contact span {
    width: 100%;
    display: flex;
  }
  .community-location .community-location__content span {
    margin-left: 0;
}
}

.contact-us-elq .contact-location .contact-location__content{
  padding: 0 38px 0 15px;
}

.residential-sales-azure-residences .community-highlights + .community-location .row{
  flex-flow: row-reverse;

}
body.map-rtl .community-location .row {
    display: block;
}

.developments-alfurjan .community-highlights + .community-location .row{
  flex-flow: row-reverse;
}

.residential-sales-palm-tower2 .community-highlights + .community-location .row{
  flex-flow: row-reverse;
}

.residential-sales-nad-al-sheba-villas2 .community-highlights + .community-location .row{
  flex-flow: row-reverse;
}

.residential-sales-palm360 .community-highlights + .community-location .row{
  flex-flow: row-reverse;
}