/*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-filter: gray;
          filter: gray;
}

.grayscale.grayscale-fade {
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s;
}

.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.grayscale.grayscale-off {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter: none;
}

.grayscale.grayscale-replaced > svg {
  transition: opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-fade:hover > svg, .grayscale.grayscale-replaced.grayscale-off > svg {
  opacity: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    transition: -webkit-filter .5s;
  }
}
