@media (min-width: 1281px) {

    #close{
        float: right;
        /* margin-bottom: 88px; */
        margin-top: -64px;
        margin-right: -30px;
        background: #ffff;
        padding: 3px;
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {

    #close{
        float: right;
        /* margin-bottom: 88px; */
        margin-top: -64px;
        margin-right: -30px;
        background: #ffff;
        padding: 3px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    #close{
        float: right;
        /* margin-bottom: 88px; */
        margin-top: -64px;
        margin-right: -30px;
        background: #ffff;
        padding: 3px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #close{
        float: right;
        /* margin-bottom: 88px; */
        margin-top: -41px;
        margin-right: -12px;
        background: #ffff;
        padding: 3px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    #close{
        float: right;
        /* margin-bottom: 88px; */
        margin-top: -64px;
        margin-right: -30px;
        background: #ffff;
        padding: 3px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    #close{
        float: right;
        /* margin-bottom: 88px; */
        margin-top: -35px;
        background: #ffff;
        padding: 3px;
    }

}

.footer .footer__newsletter_subs2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 63, 114, 0.9);
    z-index: 10000;
    display: none;
}

.footer .footer__newsletter_subs2 .show {
    display: block;
}

.footer .footer__newsletter_subs2 .footer__newsletter_subs__content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    text-transform: uppercase;
}

.footer .footer__newsletter_subs2 h2 {
    margin: 0 0 20px;
    font-size: 20px;
    padding: 0 15px;
}

@media (min-width: 992px) {
    .footer .footer__newsletter_subs2 h2 {
        font-size: 26px;
        padding: 0;
        margin: 0 0 25px;
    }
}

@media (min-width: 1920px) {
    .footer .footer__newsletter_subs2 h2 {
        font-size: 32px;
    }
}

.footer .footer__newsletter_subs2 h3 {
    margin: 0 0 30px;
    font-size: 14px;
    padding: 0 15px;
}

@media (min-width: 992px) {
    .footer .footer__newsletter_subs2 h3 {
        font-size: 16px;
        padding: 0;
        margin: 0 0 35px;
    }
}

@media (min-width: 1920px) {
    .footer .footer__newsletter_subs2 h3 {
        font-size: 22px;
    }
}
