@media (min-width: 1281px) {

    #close{
        float: left;
        margin-left: -30px;
        margin-right: 0;
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {

    #close{
        float: left;
        margin-left: -30px;
        margin-right: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    #close{
        float: left;
        margin-left: -30px;
        margin-right: 0;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #close{
        float: right;
        margin-left: -12px;
        margin-right: 0;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    #close{
        float: left;
        margin-left: -30px;
        margin-right: 0;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    #close{
        float: left;
    }

}

.footer .footer__newsletter_subs2 {
    right: 0;
    left: auto;
}



.footer .footer__newsletter_subs2 .footer__newsletter_subs__content {
    right: 0;
    left: auto;
}
